fastapi==0.121.2
uvicorn[standard]==0.38.0
pydantic==2.12.4
pydantic-settings==2.12.0
sqlalchemy==2.0.44
psycopg[binary]==3.2.10
alembic==1.17.1
httpx==0.28.1
python-dotenv==1.2.1
APScheduler==3.11.0
bring-api==1.1.2
